body{
  background-color: #e1a0ee;
  display: grid;
  justify-content: center; 
}
h1{
  text-decoration: underline;
}
#calculator{
  border: 2px solid black;
  height: 25rem;
  width: 15rem;
  border-radius: 5px;
}
#display{
  font-size: 25px;
  margin: 10px 2px;
  width: 95%;
  height: 25%;
  background-color: black;
  color: whitesmoke;
}
.button-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr); /* 4 columns, each takes equal space */
  gap: 5px; /* space between buttons */
  padding: 10px;
  padding-left: none;
}
.button{
  color: #e1a0ee;
  margin: 1px;
  border: none;
  height: 50px;
  width: 55px;
  font-size: 22px;
  text-align: center;
  background-color: black;
}
.white{
  color: whitesmoke;
}
.button:hover{
  background-color: rgb(203, 25, 194);
}